<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 20px">
  <a class="navbar-brand" href="#">Urbano</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" *ngxPermissionsOnly="['MINISTRO']">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tablero general <span class="sr-only">(current)</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="tablero-general">Tablero general</a>
          <a class="dropdown-item" href="#">AUSA</a>
          <a class="dropdown-item" href="#">SBASE</a>
          <a class="dropdown-item" href="#">Transporte</a>
          <a class="dropdown-item" href="#">SSREGIC</a>
          <a class="dropdown-item" href="#">Obras</a>
          <a class="dropdown-item" href="#">Hitos comunicables</a>
          <a class="dropdown-item" href="#">RRHH</a>
          <a class="dropdown-item" href="#">Temarios y compromisos</a>
          <a class="dropdown-item" href="#">Presentaciones</a>
          <a class="dropdown-item" href="#">Grandes obras</a>
          <a class="dropdown-item" href="#">Proyectos prioritarios</a>
          <a class="dropdown-item" href="#">Calendario electoral 2019</a>
          <a class="dropdown-item" href="#">Cartas compromiso</a>
          <a class="dropdown-item" href="#">Organigrama</a>
          <a class="dropdown-item" href="#">Comunicacion</a>
          <a class="dropdown-item" href="#">Tramites</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Otra opcion</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngxPermissionsOnly="['RDG']">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          RDG <span class="sr-only">(current)</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="rdg">RDG</a>
          <a class="dropdown-item" routerLink="calendario">Ver calendario</a>
          <a class="dropdown-item" href="#">Lista de temarios</a>
          <a class="dropdown-item" href="#">Lista de compromisos</a>
          <a class="dropdown-item" href="#">Reportes</a>
          <a class="dropdown-item" href="#">Mis reuniones</a>
          <a class="dropdown-item" href="#">Solicitar reunion</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Otra opcion</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngxPermissionsOnly="['POA']">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          POA
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="poa">POA</a>
          <a class="dropdown-item" href="#">Crear nuevo plan</a>
          <a class="dropdown-item" href="#">Crear Proyecto</a>
          <a class="dropdown-item" href="#">Crear Area</a>
          <a class="dropdown-item" href="#">Crear Hito</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Otra opcion</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngxPermissionsOnly="['ADMINISTRADOR']">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administrador <span class="sr-only">(current)</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="administrador">Administrador</a>
          <a class="dropdown-item" href="#">Crear usuario</a>
          <a class="dropdown-item" href="#">Permisos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Otra opcion</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" *ngIf="!userLogged" routerLink="login" type="submit">Ingresar</button>
      <div class="btn-group" role="group" *ngIf="userLogged">
        <button id="btnGroupDrop1" type="button" class="btn btn-outline-success my-2 my-sm-0 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{userLogged.username}}</button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" routerLink="login">Mis datos</a>
          <a href ="javascript:void(0)" class="dropdown-item" (click)="logout()">Salir</a>
        </div>
      </div>
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" *ngIf="!userLogged" routerLink="login" type="submit">Ingresar</button>
      <button class="btn btn-outline-success my-2 my-sm-0" *ngIf="userLogged" (click)="logout()" type="submit">{{userLogged.username}}</button> -->
    </form>
  </div>
</nav>