<div class="card" style="margin-bottom: 20px">
    <div class="card-body">
      <legend>Obras
        <!-- <button type="button" class="btn btn-outline-primary float-right">Crear etapa</button>
        <button type="button" class="btn btn-outline-success float-right">Crear hito</button> -->
      </legend>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <td><b>Nombre</b></td>
                <td><b>Inicio planificado</b></td>
                <td><b>Fin planificado</b></td>
                <td><b>Fecha inicio</b></td>
                <td><b>Fecha fin</b></td>
                <td><b>Status</b></td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of obras">
                <td>{{a.nombre}}</td>
                <td>{{a.fechas[0].fechaInicio}}</td>
                <td>{{a.fechas[0].fechaFin}}</td>
                <td>{{a.fechas[0].fechaInicio}}</td>
                <td>{{a.fechas[0].fechaFin}}</td>
                <td><span class="badge badge-pill badge-primary float-right">0</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>