<div class="card">
  <div class="card-header">Proyectos
    <button type="button" (click)="crearProyecto(false,'')" class="btn btn-outline-secondary btn-sm float-right">Crear proyecto</button>
    <!-- <input type="text" placeholder="Buscar..." class="form-control col-2 float-right"> -->
    <input type="text" placeholder="Buscar" class="form-control col-2 float-right">
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md">
        <ul class="list-group">
          <li class="list-group-item" [hidden]="p.proyectoPadre" *ngFor="let p of proyectos | filter: searchFilter; let $index = index"><!--[ngStyle]="{'background-color': '#b0ffa6'} [ngStyle]="{'background-color': '#a6d5ff'}"-->
            <a routerLink="{{p._id}}"><b><span [hidden]="!p.codIdentificacion">{{p.codIdentificacion}} - </span>{{p.nombre}}</b></a>
            <span class="dot" [ngStyle]="{'background-color': p.color}"></span>
            <ul class="list-group" *ngIf="p.hijos">
              <li class="list-group-item" *ngFor="let h of p.hijos">
                <a routerLink="{{h._id}}"><span [hidden]="!h.codIdentificacion">{{h.codIdentificacion}} -</span> {{h.nombre}}</a>
                <span [ngClass]="{'dotBlue': h.estado == 'cumplido', 'dotGreen': h.estado == 'vigente', 'dotRed': h.estado == 'vencido', 'dotBlack': h.estado == 'cancelado'}"></span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="modalCrearProyecto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo proyecto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #proyectoForm="ngForm" novalidate="">
          <div class="form-row">
            <div class="col-4">
              <label for="">Nombre</label>
              <input type="text" class="form-control" [(ngModel)]="nuevoProyecto.nombre" name="nombre" #nombre="ngModel">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary" (click)="crearProyecto(true, nuevoProyecto)">Guardar</button>
      </div>
    </div>
  </div>
</div> -->