<div class="card">
  <div class="card-header">Proyectos
    <button type="button" (click)="crearProyecto()" class="btn btn-outline-secondary btn-sm float-right" style="margin-left: 5px">Crear proyecto</button>
    <!-- <button type="button" (click)="crearProyecto(false,'')" class="btn btn-outline-secondary btn-sm float-right" style="margin-left: 5px">Crear proyecto</button> -->
    <input type="text" placeholder="Buscar" class="form-control form-control-sm col-2 float-right">
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md">
        <ul class="list-group">
          <li class="list-group-item" [hidden]="p.proyectoPadre" *ngFor="let p of proyectos | orderBy: 'codIdentificacion': false: 'number' | filter: searchFilter; let $index = index"><!--[ngStyle]="{'background-color': '#b0ffa6'} [ngStyle]="{'background-color': '#a6d5ff'}"-->
            <a [routerLink]="['proyecto', p._id]"><b><span [hidden]="!p.codIdentificacion">{{p.codIdentificacion}} - </span>{{p.nombre}}</b></a>
            <span class="dot" [ngStyle]="{'background-color': p.color}"></span>
            <ul class="list-group" *ngIf="p.hijos">
              <li class="list-group-item" *ngFor="let h of p.hijos | orderBy: 'codIdentificacion': false: 'number'">
                <a [routerLink]="['proyecto/', h._id]"><span [hidden]="!h.codIdentificacion">{{h.codIdentificacion}} -</span> {{h.nombre}}</a>
                <span [ngClass]="{'dotBlue': h.estado == 'cumplido', 'dotGreen': h.estado == 'vigente', 'dotRed': h.estado == 'vencido', 'dotBlack': h.estado == 'cancelado'}"></span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>