<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <h3>Maestros</h3>
    </div>
    <div class="col-4">
      <button *ngIf='!editando' class="pull-right btn btn-outline-primary" (click)='editando=true'>Editar</button>
      <button *ngIf='editando' class="pull-right btn btn-outline-secondary" (click)='editando=false'>Cancelar</button>
      <button *ngIf='editando' class="pull-right btn btn-outline-success" (click)='guardar()'>Guardar</button>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <div class="list-group">
        <a href="javascript:void(0)" *ngFor="let m of maestros; let $index = index" class="list-group-item list-group-item-action" [ngClass]="{'active': maestroSeleccionado == m.tipo}" (click)="maestroSeleccionado = m.tipo;consulta(m)">{{m.color.nombre}}</a>
      </div>
    </div>
    <div class="col-10">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-participantes-tab" data-toggle="pill" href="#pills-participantes" role="tab" aria-controls="pills-home" aria-selected="true" (click)="seleccionTab = 'participantes';">Participantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-citas-tab" data-toggle="pill" href="#pills-citas" role="tab" aria-controls="pills-citas" aria-selected="false" (click)="seleccionTab = 'cita'">Citas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-temario-tab" data-toggle="pill" href="#pills-temario" role="tab" aria-controls="pills-temario" aria-selected="false" (click)="seleccionTab = 'temario'">Envio de propuesta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-envioTemario-tab" data-toggle="pill" href="#pills-envioTemario" role="tab" aria-controls="pills-envioTemario" aria-selected="false" (click)="seleccionTab = 'propuestaTemario'">Envio de temario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-envioCompromiso-tab" data-toggle="pill" href="#pills-envioCompromiso" role="tab" aria-controls="pills-envioCompromiso" aria-selected="false">Envio de compromiso</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-participantes" role="tabpanel" aria-labelledby="pills-participantes-tab" *ngIf="seleccionTab == 'participantes'">
          <div class="row">
              <div class="col-md-6" *ngFor='let participante of datosMaestro.participantes'>
                <card-contacto [idContacto]='participante.contactoId'></card-contacto>
              </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-citas" role="tabpanel" aria-labelledby="pills-citas-tab" *ngIf="seleccionTab == 'cita'">
          <mail-header [lista]="datosMaestro.cita" [editando]='editando'></mail-header>
        </div>
        <div class="tab-pane fade" id="pills-temario" role="tabpanel" aria-labelledby="pills-temario-tab" *ngIf="seleccionTab == 'temario'">
          <mail-header [lista]="datosMaestro.temario" [editando]='editando'></mail-header>
        </div>
        <div class="tab-pane fade" id="pills-envioTemario" role="tabpanel" aria-labelledby="pills-envioTemario-tab" *ngIf="seleccionTab == 'propuestaTemario'">
          <mail-header [lista]="datosMaestro.propuestaTemario" [editando]='editando'></mail-header>
        </div>
        <div class="tab-pane fade" id="pills-envioCompromiso" role="tabpanel" aria-labelledby="pills-envioCompromiso-tab">
          <mail-header [lista]="lista" [editando]='editando'></mail-header>
        </div>
      </div>
    </div>
  </div>
</div>