<div class="container-fluid">
    <div class="row ">
        <div class="col-md-3">
            <h3 >
                <span [ngStyle]="{'border-left-color': color}" style="border-left: solid 10px; opacity: 1.0"></span>
                {{serie?.nombre}}  
            </h3>
            <h4> {{getFecha(reunion?.desdeDate)}}
                <span class="pull-right">{{getHora(reunion?.desdeDate)}} a {{getHora(reunion?.hastaDate)}} </span>
            </h4>
            <button class="btn btn-success pull-right" style="width: 100%;">{{ultimaActualizacion}}</button>
            <button class="btn btn-outline-primary" style="width: 100%;" (click)='armarCita()'>Cita</button>
            <button class="btn btn-outline-info" style="width: 100%;" (click)='armarModificacion()'>Modificacion</button>
            <button class="btn btn-outline-info" style="width: 100%;" (click)='armarRecordatorio()'>Recordatorio</button>
            <button class="btn btn-outline-danger" style="width: 100%;" (click)='armarCancelacion()'>Cancelacion</button>
        </div>
        <div class="col-md-9">
            <mail-header [lista]='correos'></mail-header>
            <mail-body [mensajeHtml]='cita?.mensajeHtml' [asunto]='cita?.asunto'></mail-body>
        </div>
    </div>
</div>

