<div class="container-fluid">
    <form>
      <div class="form-group col-10">
        <div class="form-row">
          <div class="form-group col-6">
            <label for="inputCity">Nombre</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Nro identificacion</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Etapa</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>Opcion 1</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputState">Predecesor</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>Opcion 1</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group col-2">
        <div class="spinner-grow text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <button type="button" class="btn btn-primary btn-lg btn-block">Inicio cumplido</button>
        <button type="button" class="btn btn-success btn-lg btn-block">Final cumplido</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Cancelado</button>
      </div>
      
        
    </form>







  <div class="row">
      <div class="form-group col-md-4">
        <label for="inputState">Predecesor</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>Opcion 1</option>
        </select>
      </div>
  </div>
</div>