<div class="container" *ngIf="actividad">
  <div class="row" style="margin-bottom: 20px">
    <div class="col-12">
      <button type="button" class="btn btn-outline-primary float-right" [hidden]="editando" (click)="editando = true">Editar</button>
      <button type="button" class="btn btn-outline-primary float-right" [hidden]="editando">Volver</button>
      <button type="button" class="btn btn-outline-primary float-right" [disabled]="!actividadForm.valid" [hidden]="!editando" (click)="guardar(actividadForm)">Guardar</button>
      <button type="button" class="btn btn-outline-primary float-right" [hidden]="!editando" (click)="editando = false">Cancelar</button>
    </div>
  </div>
  <form (ngSubmit)="onSubmit(actividadForm)" #actividadForm="ngForm" novalidate="">
    <div class="form-row">
      <div class="col-10">
        <div class="form-row">
          <div class="form-group col-4">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" required [disabled]="!editando" [(ngModel)]="actividad.nombre" name="nombre" #nombre="ngModel">
            <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">
              <div *ngIf="nombre.errors?.required">
                Este campo es requerido.
              </div>
              <!-- <div *ngIf="nombre.errors?.minlength">
                Por lo menos 5 caracteres.
              </div> -->
              <!-- <div *ngIf="nombre.$invalid">
                Dirty
              </div> -->
            </div>
          </div>
          <div class="form-group col-2">
            <label for="codIdentificacion">Nro identificacion</label>
            <input type="text" class="form-control" id="codIdentificacion" [disabled]="!editando" [(ngModel)]="actividad.codIdentificacion" name="codIdentificacion" #codIdentificacion="ngModel">
            <div [hidden]="codIdentificacion.valid || codIdentificacion.pristine" class="alert alert-danger">
              <div *ngIf="codIdentificacion.errors?.required">
                Este campo es requerido.
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-4">
            <label for="">Predecesor</label>
            <select class="form-control" [disabled]="!editando" [(ngModel)]="actividad.predecesor" name="predecesor" #predecesor="ngModel">
              <option *ngFor="let p of predecesores" [value]="p._id">{{p.nombre}}</option>
            </select>
          </div>
          <div class="form-group col-4">
            <label for="">Etapa</label>
            <select class="form-control" [disabled]="!editando" [(ngModel)]="actividad.etapa" name="etapa" #etapa="ngModel">
              <option *ngFor="let e of etapas" [value]="e._id">{{e.nombre}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-2">
        <button type="button" class="col-12" style="margin-bottom: 5px" [ngClass]="(actividad.inicioCumplido) ? 'btn btn-success': 'btn btn-outline-success'" ngDefaultControl [disabled]="!editando" (click)="actividad.inicioCumplido = true" [(ngModel)]="actividad.inicioCumplido" name="inicioCumplido" #inicioCumplido="ngModel">Inicio cumplido</button>
        <button type="button" class="col-12" style="margin-bottom: 5px" [ngClass]="(actividad.cumplida) ? 'btn btn-primary': 'btn btn-outline-primary'" ngDefaultControl [disabled]="!editando" (click)="actividad.cumplida = true" [(ngModel)]="actividad.cumplida" name="cumplida" #cumplida="ngModel">Fin cumplido</button>
        <button type="button" class="col-12" style="margin-bottom: 5px" [ngClass]="(actividad.cancelada) ? 'btn btn-secondary': 'btn btn-outline-secondary'" ngDefaultControl [disabled]="!editando" (click)="actividad.cancelada = true" [(ngModel)]="actividad.cancelada" name="cancelada" #cancelada="ngModel">Cancelado</button>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Historico
              <button type="button" class="btn btn-outline-primary float-right"><i class="fa fa-plus"></i></button>
            </h4>
          </div>
          <div class="card-body">
            <div *ngFor="let f of actividad.fechas">
              <div class="row">
                <div class="form-group col-3">
                  <label for="">Fecha inicio</label>
                  <input type="text" class="form-control" id="" placeholder="" disabled [(ngModel)]="f.fechaInicio" name="fechaInicio">
                </div>
                <div class="form-group col-3">
                  <label for="">Fecha fin</label>
                  <input type="text" class="form-control" id="" placeholder="" disabled [(ngModel)]="f.fechaFin" name="fechaFin">
                </div>
                <div class="form-group col-3">
                  <label for="">Avance</label>
                  <input type="text" class="form-control" id="" placeholder="" disabled [(ngModel)]="f.avance" name="avance">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-12">
                  <label for="">Comentarios</label>
                  <textarea class="form-control" id="" rows="2" disabled [(ngModel)]="f.comentario" name="comentario"></textarea>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!--Ejemplo de bootstrap con tres columnas y otra col-12 abajo
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        .col-md-8
        <div class="row">
          <div class="col-md-6">.col-md-6</div>
          <div class="col-md-6">.col-md-6</div>
        </div>
      </div>
      <div class="col-md-4">.col-md-4</div>
    </div>
  </div> -->