<div class="container" *ngIf="actividad">
  <div class="card" style="margin-bottom: 20px">
    <div class="card-header" style="color: white; background-color:cadetblue; opacity: 0.5">
      <div class="col-12">
        <button type="button" class="btn btn-outline-light float-right" style="margin-left: 5px" routerLink="../.." [hidden]="editando"><i class="fa fa-arrow-left"></i> Volver</button>
        <button type="button" class="btn btn-outline-light float-right" [hidden]="editando" (click)="editando = true">Editar</button>
        <button type="submit" class="btn btn-outline-light float-right" [hidden]="!editando" [disabled]="actividadForm.invalid" (click)="actividadForm.ngSubmit.emit()">Guardar</button>
        <button type="button" class="btn btn-outline-light float-right" style="margin-right: 5px" [hidden]="!editando" (click)="editando = false">Cancelar</button>
        <button type="button" class="btn btn-outline-danger float-right" style="margin-right: 5px" (click)="eliminarActividad()" [hidden]="!editando">Eliminar</button>
      </div>
      <small>{{actividad.anio}} - {{nombreJurisdiccion}} - {{nombreProyecto}}</small>
    </div>
  </div>

  <form #actividadForm="ngForm" (ngSubmit)="actividadForm.form.valid && guardar(actividadForm)">
    <div class="form-row" style="margin-bottom: 10px">
      <div class="col-10">
        <div class="form-row">
          <div class="form-group col-6">
            <label>Nombre</label>
            <input type="text" class="form-control" required [disabled]="!editando" [(ngModel)]="actividad.nombre" name="nombre" #nombre="ngModel" [ngClass]="{'is-invalid': nombre.invalid}">
            <div *ngIf="nombre.invalid" class="invalid-feedback">
              <div *ngIf="nombre.errors?.required">Campo obligatorio</div>
            </div>
          </div>
          <div class="form-group col-2">
            <label>Nro identificacion</label>
            <input type="text" class="form-control" [disabled]="!editando" [(ngModel)]="actividad.codIdentificacion" name="codIdentificacion" #codIdentificacion="ngModel">
          </div>
        </div>
        <div class="form-row"><!-- No deberia poder elegirse a si mismo -->
          <div class="form-group col-4">
            <label for="">Predecesor</label>
            <select class="form-control" [disabled]="!editando" [(ngModel)]="actividad.predecesor" name="predecesor" #predecesor="ngModel">
              <option *ngFor="let p of predecesores" [ngValue]="p._id">{{p.nombre}}</option>
            </select>
          </div>
          <div class="form-group col-4">
            <label for="">Etapa</label>
            <select class="form-control" [disabled]="!editando" [(ngModel)]="actividad.etapa" name="etapa" #etapa="ngModel">
              <option *ngFor="let e of etapas" [ngValue]="e._id">{{e.nombre}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-2">
        <button type="button" class="col-12" style="margin-bottom: 5px" [ngClass]="(actividad.inicioCumplido) ? 'btn btn-success': 'btn btn-outline-success'" ngDefaultControl [disabled]="!editando" (click)="(actividad.inicioCumplido) ? actividad.inicioCumplido = false : actividad.inicioCumplido = true" [(ngModel)]="actividad.inicioCumplido" name="inicioCumplido" #inicioCumplido="ngModel">Inicio cumplido</button>
        <button type="button" class="col-12" style="margin-bottom: 5px" [ngClass]="(actividad.cumplida) ? 'btn btn-primary': 'btn btn-outline-primary'" ngDefaultControl [disabled]="!editando" (click)="(actividad.cumplida) ? actividad.cumplida = false : actividad.cumplida = true" [(ngModel)]="actividad.cumplida" name="cumplida" #cumplida="ngModel">Fin cumplido</button>
        <button type="button" class="col-12" style="margin-bottom: 5px" [ngClass]="(actividad.cancelada) ? 'btn btn-secondary': 'btn btn-outline-secondary'" ngDefaultControl [disabled]="!editando" (click)="(actividad.cancelada) ? actividad.cancelada = false : actividad.cancelada = true" [(ngModel)]="actividad.cancelada" name="cancelada" #cancelada="ngModel">Cancelado</button>
        <button type="button" class="col-12" style="margin-bottom: 5px" [ngClass]="(actividad.verEnDashboard) ? 'btn btn-success': 'btn btn-outline-success'" tooltip="Ver en el dashboard del ministro" ngDefaultControl [disabled]="!editando" (click)="(actividad.verEnDashboard) ? actividad.verEnDashboard = false : actividad.verEnDashboard = true" [(ngModel)]="actividad.verEnDashboard" name="verEnDashboard" #verEnDashboard="ngModel">Ver en dashboard</button>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Historico
              <button type="button" class="btn btn-outline-primary float-right" [disabled]="!editando" (click)="crearHitoFecha()"><i class="fa fa-plus"></i></button>
              <!-- <button type="button" class="btn btn-outline-primary float-right" [disabled]="!editando" (click)="openModal(false,'')"><i class="fa fa-plus"></i></button> -->
            </h4>            
          </div>
          <div class="card-body">
            <div *ngFor="let f of actividad.fechas | reverse">
              <div class="row">
                <div class="form-group col-3">
                  <label for="">Fecha inicio</label>
                  <input type="text" class="form-control" disabled [value]="f.fechaInicio">
                </div>
                <div class="form-group col-3">
                  <label for="">Fecha fin</label>
                  <input type="text" class="form-control" disabled [value]="f.fechaFin">
                </div>
                <div class="form-group col-2">
                  <label for="">% Avance</label>
                  <input type="text" class="form-control" disabled [value]="f.avance">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-12">
                  <label for="">Comentarios</label>
                  <textarea class="form-control" rows="2" disabled [value]="f.comentario"></textarea>
                  <small *ngIf="f.fechaCreacion">Creado el {{f.fechaCreacion | date:'dd/MM/yyyy'}}</small>
                </div>
              </div>
              <hr *ngIf="actividad.fechas.length > 1">
            </div>
            <div *ngIf="actividad.fechas">Ultima modificacion el {{actividad.fechaActualizacion | date: 'dd/MM/yyyy'}} por {{actividad.usuarioActualizacion}}</div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!--Ejemplo de bootstrap con tres columnas y otra col-12 abajo
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        .col-md-8
        <div class="row">
          <div class="col-md-6">.col-md-6</div>
          <div class="col-md-6">.col-md-6</div>
        </div>
      </div>
      <div class="col-md-4">.col-md-4</div>
    </div>
  </div> -->