@import "../../proyectos/proyectos-por-plan/proyectos-por-plan.component.css";

.hide-me[aria-expanded="true"] {display: none}
.show-me[aria-expanded="false"] {display: none}
.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  float: right;
}