<div class="d-flex justify-content-center" style="min-height: 100vh;display: flex;align-items: center" *ngIf="cargando">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="card" style="margin-bottom: 20px" *ngIf="actividades && !cargando">
  <div class="card-body">
    <legend>Hitos/Actividades
      <button type="button" class="btn btn-outline-primary float-right" (click)="crearEtapa()"><i class="fa fa-plus"></i> Crear etapa</button>
      <button type="button" class="btn btn-outline-primary float-right" style="margin-left: 5px; margin-right: 20px" (click)="crearActividad()" [disabled]="!etapas?.length"><i class="fa fa-plus"></i> Nueva actividad</button>
    </legend>

    <div class="row" *ngIf="actividades || etapas">
      <div class="col-7"></div>
      <div class="col-1"><b>Inicio planif.</b></div>
      <div class="col-1"><b>Fin planif.</b></div>
      <div class="col-1"><b>Fecha inicio</b></div>
      <div class="col-1"><b>Fecha fin</b></div>
      <div class="col-12">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let e of etapas | orderBy: 'orden': false: 'number'; let $index = index">
            <div class="row">
              <div class="col-9">
                <a href="javascript:void(0)" (click)="editarEtapa(e)"><b><span [hidden]="!e.codIdentificacion">{{e.codIdentificacion}} - </span>{{e.nombre}}</b></a>
              </div>
              <div class="col-1">
                {{e.fechaInicio}}
              </div>
              <div class="col-1">
                {{e.fechaFin}}
              </div>
              <div class="col-1">
                <a class="btn btn-outline-dark btn-sm float-right" data-toggle="collapse" href="#coll{{$index}}" *ngIf="e.actividades.length"><i class="fa fa-arrow-down"></i></a>
                <span class="dot" style="margin-top: 5px; margin-right: 5px" [ngStyle]="{'background-color': e.color}"></span>
              </div>
            </div>
            
            <ul class="list-group collapse" style="margin-top: 12px" *ngIf="e.actividades" id="coll{{$index}}">
              <li class="list-group-item" *ngFor="let a of e.actividades | orderBy: 'codIdentificacion': false: 'string'">
                <div class="row">
                  <div class="col-7">
                    <a [routerLink]="['actividad', a._id]"><span [hidden]="!a.codIdentificacion"> {{a.codIdentificacion}} -</span> {{a.nombre}}</a>
                  </div>
                  <div class="col-1">
                    {{a.fechas[0]?.fechaInicio}}
                  </div>
                  <div class="col-1">
                    {{a.fechas[0]?.fechaFin}}
                  </div>
                  <div class="col-1">
                    {{a.fechas.slice(-1)[0]?.fechaInicio}}
                  </div>
                  <div class="col-1">
                    {{a.fechas.slice(-1)[0]?.fechaFin}}
                  </div>
                  <div class="col-1">
                    <span class="dot" [ngStyle]="a.color == 'white' ? {'border': 'grey 2px solid', 'background-color': a.color} : {'background-color': a.color}" title="data(a)"></span>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <!-- Actividades sin etapa -->
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let a of actividades | orderBy: 'codIdentificacion': false: 'string'" [hidden]="a.etapa">
              <div class="row">
                <div class="col-7">
                  <a [routerLink]="['actividad/', a._id]"><span [hidden]="!a.codIdentificacion">{{a.codIdentificacion}} -</span> {{a.nombre}}</a>
                </div>
                <div class="col-1">
                  {{a.fechas[0]?.fechaInicio}}
                </div>
                <div class="col-1">
                  {{a.fechas[0]?.fechaFin}}
                </div>
                <div class="col-1">
                  {{a.fechas.slice(-1)[0]?.fechaInicio}}
                </div>
                <div class="col-1">
                  {{a.fechas.slice(-1)[0]?.fechaFin}}
                </div>
                <div class="col-1">
                  <span class="dot" [ngStyle]="a.color == 'white' ? {'border': 'grey 2px solid', 'background-color': a.color} : {'background-color': a.color}" title="data(a)"></span>
                </div>
              </div>
            </li>
          </ul>
          <div *ngIf="!etapas?.length && !actividades?.length">El proyecto no posee etapas ni actividades</div>
        </ul>
      </div>
    </div>
  </div>
</div>