<div class="card" style="margin-bottom: 20px" *ngIf="actividades">
  <div class="card-body">
    <legend>Hitos/Actividades
      <button type="button" class="btn btn-outline-primary float-right" (click)="crearEtapa()">Crear etapa</button>
      <button type="button" class="btn btn-outline-primary float-right" style="margin-left: 5px; margin-right: 20px" (click)="crearActividad(nuevaActividad)"><i class="fa fa-plus"></i></button>
      <select type="text" class="form-control float-right col-2" style="margin-left: 5px" placeholder="Etapa" [(ngModel)]="nuevaActividad.etapa" name="etapa">
        <option value="">Sin etapa</option>
        <option *ngFor="let e of etapas" [ngValue]="e._id">{{e.nombre}}</option>
      </select>
      <input type="text" class="form-control float-right col-2" placeholder="Nueva actividad" [(ngModel)]="nuevaActividad.nombre" name="nombre">
    </legend>

    <div class="row" *ngIf="actividades || etapas">
      <div class="col-7"></div>
      <div class="col-1"><b>Inicio planif.</b></div>
      <div class="col-1"><b>Fin planif.</b></div>
      <div class="col-1"><b>Fecha inicio</b></div>
      <div class="col-1"><b>Fecha fin</b></div>
      <div class="col-12">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let e of etapas | orderBy: 'orden': false: 'number'; let $index = index">
            <a href="javascript:void(0)" (click)="editarEtapa(e)"><b><span [hidden]="!e.codIdentificacion">{{e.codIdentificacion}} - </span>{{e.nombre}}</b></a>

            <a class="btn btn-outline-dark btn-sm float-right" data-toggle="collapse" href="#coll{{$index}}" *ngIf="e.actividades.length"><i class="fa fa-arrow-down"></i></a>
            <!-- <span [ngClass]="{'dotGrey float-right': e.fechaInicio > '27/06/2019', 'dotGreen float-right': e.fechaInicio < '27/06/2019'}"></span> -->
            <span class="dot" [ngStyle]="{'background-color': e.color}"></span>

            <ul class="list-group collapse" style="margin-top: 12px" *ngIf="e.actividades" id="coll{{$index}}">
              <li class="list-group-item" *ngFor="let a of e.actividades | orderBy: 'codIdentificacion': false: 'string'">
                <div class="row">
                  <div class="col-7">
                    <a [routerLink]="['etapa/', e._id, 'actividad', a._id]"><span [hidden]="!a.codIdentificacion"> {{a.codIdentificacion}} -</span> {{a.nombre}}</a>
                  </div>
                  <div class="col-1">
                    {{a.fechas[0]?.fechaInicio}}
                  </div>
                  <div class="col-1">
                    {{a.fechas[0]?.fechaFin}}
                  </div>
                  <div class="col-1">
                    {{a.fechas.slice(-1)[0]?.fechaInicio}}
                  </div>
                  <div class="col-1">
                    {{a.fechas.slice(-1)[0]?.fechaFin}}
                  </div>
                  <div class="col-1">
                    <!-- <span [ngClass]="{'dotBlue': a.cumplida, 'dotGreen': a.estado == 'vigente', 'dotRed': a.estado == 'vencido', 'dotBlack': a.cancelada}" style="color: 'red'"></span> -->
                    <span class="dot" [ngStyle]="{'background-color': a.color}"></span>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <!-- Actividades sin etapa -->
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let a of actividades | orderBy: 'codIdentificacion': false: 'string'" [hidden]="a.etapa">
              <div class="row">
                <div class="col-7">
                  <a [routerLink]="['actividad/', a._id]"><span [hidden]="!a.codIdentificacion">{{a.codIdentificacion}} -</span> {{a.nombre}}</a>
                </div>
                <div class="col-1">
                  {{a.fechas[0].fechaInicio}}
                </div>
                <div class="col-1">
                  {{a.fechas[0].fechaFin}}
                </div>
                <div class="col-1">
                  {{a.fechas.slice(-1)[0].fechaInicio}}
                </div>
                <div class="col-1">
                  {{a.fechas.slice(-1)[0].fechaFin}}
                </div>
                <div class="col-1">
                  <!-- <span [ngClass]="{'dotBlue': a.cumplida, 'dotGreen': a.estado == 'vigente', 'dotRed': a.estado == 'vencido', 'dotBlack': a.cancelada}" style="color: 'red'"></span> -->
                  <span class="dot" [ngStyle]="{'background-color': a.color}"></span>
                </div>
              </div>
            </li>
          </ul>
          <div *ngIf="!etapas?.length && !actividades?.length">El proyecto no posee etapas ni actividades</div>
        </ul>
      </div>
    </div>
  </div>

  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modalCrearEtapa">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nueva etapa</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <label for="">Nombre</label>
              <input type="text" class="form-control" [(ngModel)]="nuevaEtapa.nombre" name="nombre">
            </div>
            <div class="col-6">
              <label for="">Nro orden</label>
              <input type="text" class="form-control" [(ngModel)]="nuevaEtapa.orden" name="orden">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-10">
              <label for="">Actividades</label>
              <div class="row">
                <div class="form-group col-10">
                  <select class="form-control" [(ngModel)]="nuevaEtapa.valor">
                    <option *ngFor="let a of actividadesSelect" [value]="a._id">{{a.nombre}}</option>
                  </select>
                </div>
                <div class="form-group col-2">
                  <button type="btn" class="btn btn-primary" (click)="agregarActividad(nuevaEtapa.valor)"><i class="fa fa-plus"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <ul *ngFor="let a of nuevaEtapa.actividades">
                <li>{{a.nombre}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="crearEtapa(nuevaEtapa,true)">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modalEditarEtapa">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar etapa</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <label for="">Nombre</label>
              <input type="text" class="form-control" [(ngModel)]="editEtapa.nombre" name="nombre">
            </div>
            <div class="col-6">
              <label for="">Nro orden</label>
              <input type="text" class="form-control" [(ngModel)]="editEtapa.orden" name="orden">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-10">
              <label for="">Actividades</label>
              <div class="row">
                <div class="form-group col-10">
                  <select class="form-control" [(ngModel)]="editEtapa.valor">
                    <option *ngFor="let a of actividadesSelect" [value]="a._id">{{a.nombre}}</option>
                  </select>
                </div>
                <div class="form-group col-2">
                  <button type="btn" class="btn btn-primary" (click)="agregarActividad(editEtapa.valor)"><i class="fa fa-plus"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <ul *ngFor="let a of editEtapa.actividades">
                <li>{{a.nombre}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="editarEtapa(editEtapa,true)">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>