<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <input type="text" class="form-control" placeholder="Buscar..." style="margin-bottom: 5px">
      <legend>Series de reunion</legend>
      <div class="overflow-auto" [ngStyle]="{'max-height.px':altoDePantalla -185}">
        <ul class="list-group">
          <li class="list-group-item" style="border-left: solid 5px; opacity: 1.0" [ngStyle]="{'color': s.color}" *ngFor="let s of series"><a href="">{{s.nombre}}</a></li>
        </ul>
      </div>
    </div>
    <div class="col-10" [ngStyle]="{'max-height.px':altoDePantalla -100}">
      <full-calendar id="calendar" [options]="options"></full-calendar>
    </div>
  </div>
</div>