<div class="container-fluid">
  <div class="row justify-content-between" style="margin-bottom: 10px">
    <div class="col-md-2">
      <select class="form-control" (change)="seleccionPlan(plan)" [(ngModel)]="plan._id">
        <option *ngFor="let p of planes" [value]="p._id">{{p.anio}}</option>
      </select>
    </div>
    <div class="col-md-4">
      <select class="form-control" (change)="seleccionArea(plan,area)" [(ngModel)]="area._id">
        <option *ngFor="let a of areas" [value]="a._id">{{a.nombre}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="proyecto">
    </div>
    <!-- <div class="col-md-auto">
      <button type="button" class="btn btn-outline-info">Crear proyecto</button>
    </div> -->
  </div>
  <proyectos-por-plan [plan]="plan"></proyectos-por-plan>
</div>