<div class="container-fluid">
  <div class="row justify-content-between" style="margin-bottom: 10px">
    <div class="col-md-2">
      <select class="form-control" (change)="seleccionPlan(plan)" [(ngModel)]="plan">
        <option *ngFor="let p of planes" [ngValue]="p">{{p.anio}}</option>
      </select>
    </div>
    <div class="col-md-4">
      <select class="form-control" (change)="seleccionArea(area)" [(ngModel)]="area">
        <option *ngFor="let a of areas" [ngValue]="a">{{a.nombre}}</option>
      </select>
    </div>
    <div class="col-2">
      <a type="btn" class="btn btn-outline-primary" routerLink="/poa/plan/crear">Crear plan</a><!--El boton deberia mostrarse solo si no existe un plan creado en el ano vigente -->
      <button routerLink=".." class="btn btn-outline-primary float-right"><i class="fa fa-arrow-left"></i> Volver</button>
    </div>
  </div>
  <proyectos-por-plan [plan]="plan" [area]="area"></proyectos-por-plan>
</div>