<!-- Esta pantalla en realidad se ve el detalle del proyecto en el cual tambien se ven las actividades, deberia renombrar el componente -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card" style="margin-bottom: 20px">
        <div class="card-header" style="color: white; background-color:cadetblue; opacity: 0.5">
          <h4>{{proyecto.nombre}}
            <button type="button" class="btn btn-outline-light float-right" style="margin-left: 5px" routerLink="../.."><i class="fa fa-arrow-left"></i> Volver</button>
            <button type="button" class="btn btn-outline-light float-right" data-toggle="collapse" [hidden]="isCollapsed" href="#collapseExample" (click)="(!isCollapsed) ? isCollapsed = true : isCollapsed = false"><i class="fa fa-arrow-down"></i></button>
            <button type="button" class="btn btn-outline-light float-right" data-toggle="collapse" [hidden]="!isCollapsed" href="#collapseExample" (click)="(!isCollapsed) ? isCollapsed = true : isCollapsed = false"><i class="fa fa-arrow-up"></i></button>
            <button type="button" class="btn btn-outline-light float-right" style="margin-right: 5px" [hidden]="!isCollapsed" [style.display]="editando ? 'none': 'inherit'" (click)="editando = true"><i class="fa fa-edit"></i> Editar</button>
            <button type="button" class="btn btn-outline-light float-right" style="margin-right: 5px" [hidden]="!editando" (click)="guardarProyecto(proyectoForm)"><i class="fa fa-save"></i> Guardar</button>
            <button type="button" class="btn btn-outline-light float-right" style="margin-right: 5px" [hidden]="!editando" (click)="editando = false"><i class="fa fa-edit"></i> Cancelar</button>
          </h4>
          <small>{{proyecto.anio}} - {{proyecto.idJurisdiccion}}</small>
        </div>
        <div class="card-body">
          <div class="collapse" id="collapseExample">
            <form (ngSubmit)="onSubmit(proyectoForm)" #proyectoForm="ngForm" novalidate="">
              <div class="form-row">
                <div class="col-4">
                  <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" placeholder="" [disabled]="!editando" [(ngModel)]="proyecto.nombre" name="nombre" #nombre="ngModel">
                  </div>
                </div>
                <div class="col-1">
                  <div class="form-group">
                    <label>Codigo identif.</label>
                    <input type="text" class="form-control" placeholder="" [disabled]="!editando" [(ngModel)]="proyecto.codIdentificacion" name="codIdentificacion" #codIdentificacion="ngModel">
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label>Subproyecto de</label>
                    <select class="form-control" [(ngModel)]="proyecto.proyectoPadre" name="proyectoPadre" #proyectoPadre="ngModel" [disabled]="!editando">
                      <option *ngFor="let p of proyectosPadre" [ngValue]="p._id">{{p.nombre}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-2">
                  <label for="">Plan anterior</label>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="" [(ngModel)]="proyecto.codPlanAnterior" name="codPlanAnterior" #codPlanAnterior="ngModel" [disabled]="!editando">
                    <input type="text" class="form-control" placeholder="" [(ngModel)]="proyecto.anioPlanAnterior" name="anioPlanAnterior" #anioPlanAnterior="ngModel" [disabled]="!editando">
                  </div>
                </div>
                <div class="col-3">
                  <label for="">&nbsp;</label>
                  <div class="form-row">
                    <button type="button" class="col-3" style="margin-right: 5px" [ngClass]="(proyecto.proyectoInversion) ? 'btn btn-success': 'btn btn-outline-success'" ngDefaultControl [disabled]="!editando" (click)="(proyecto.proyectoInversion) ? proyecto.proyectoInversion = false : proyecto.proyectoInversion = true" [(ngModel)]="proyecto.proyectoInversion" name="proyectoInversion" #proyectoInversion="ngModel">Inversion</button>
                    <button type="button" class="col-3" style="margin-right: 5px" [ngClass]="(proyecto.cancelado) ? 'btn btn-primary': 'btn btn-outline-primary'" ngDefaultControl [disabled]="!editando" (click)="(proyecto.cancelado) ? proyecto.cancelado = false : proyecto.cancelado = true" [(ngModel)]="proyecto.cancelado" name="cancelado" #cancelado="ngModel">Cancelado</button>
                    <!-- Existen los campos enPresentacion y enPresentacionArea -->
                    <button type="button" class="col-4" style="margin-right: 5px" [ngClass]="(proyecto.enPresentacion) ? 'btn btn-primary': 'btn btn-outline-primary'" ngDefaultControl [disabled]="!editando" (click)="(proyecto.enPresentacion) ? proyecto.enPresentacion = false : proyecto.enPresentacion = true" [(ngModel)]="proyecto.enPresentacion" name="enPresentacion" #enPresentacion="ngModel">En presentacion</button>
                  </div>
                </div>
              </div>
              
              <div class="form-row">
                <div class="col-3">
                  <div class="form-group">
                    <label>Dependencia</label>
                    <select class="form-control" (change)="seleccionDependencia(proyecto.dependencia)" [(ngModel)]="proyecto.dependencia" name="dependencia" #dependencia="ngModel" [disabled]="!editando">
                      <option *ngFor="let d of dependencias" [ngValue]="d">{{d.nombre}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label>Contratista</label>
                    <input type="text" class="form-control" placeholder="" [disabled]="!editando" [(ngModel)]="proyecto.contratista" name="contratista" #contratista="ngModel">
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label>Compromiso</label>
                    <select class="form-control" [(ngModel)]="proyecto.compromisoG" name="compromisoG" #compromisoG="ngModel" [disabled]="!editando">
                      <option *ngFor="let c of compromisosGobierno" [ngValue]="c._id">{{c.nombre}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label>Objetivo de impacto</label>
                    <select class="form-control" [(ngModel)]="proyecto.idObjImpacto" name="idObjImpacto" #idObjImpacto="ngModel" [disabled]="!editando">
                      <option *ngFor="let o of objetivosImpacto" [ngValue]="o._id">{{o.nombre}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-2">
                  <label>Meta cuantificacion</label>
                  <input type="text" class="form-control" placeholder="" [disabled]="!editando" [(ngModel)]="proyecto.metaCuantificacion" name="metaCuantificacion" #metaCuantificacion="ngModel">
                </div>
                <div class="form-group col-10">
                  <label>Meta producto</label>
                  <textarea type="text" class="form-control" [disabled]="!editando" placeholder="" [(ngModel)]="proyecto.metaProducto" name="metaProducto" #metaProducto="ngModel"></textarea>
                </div>
              </div>
              
              <div class="form-row">
                <div class="form-group col-12">
                  <label>Descripcion</label>
                  <textarea type="text" class="form-control" [disabled]="!editando" placeholder="" [(ngModel)]="proyecto.descripcion" name="descripcion" #descripcion="ngModel"></textarea>
                </div>
              </div>

              <div class="form-row" style="margin-bottom: 10px">
                <div class="col-6">
                  <div class="card">
                    <div class="card-header" style="color: white; background-color:cadetblue; opacity: 0.5">
                      Partida presupuestaria
                    </div>
                    <div class="card-body">
                      <div class="form-row">
                        <div class="form-group col-3">
                          <label>Prioridad ministerial</label>
                          <select class="form-control" [(ngModel)]="proyecto.prioridadMinisterial" name="prioridadMinisterial" #prioridadMinisterial="ngModel" [disabled]="!editando">
                            <option *ngFor="let p of prioridadesMinisteriales" [ngValue]="p._id">{{p.nombre}}</option>
                          </select>
                        </div>
                        <div class="form-group col-3">
                          <label>Fecha de inicio</label>
                          <input type="text" class="form-control" placeholder="" [(ngModel)]="proyecto.fechaInicio" name="fechaInicio" #fechaInicio="ngModel" [disabled]="!editando">
                        </div>
                        <div class="form-group col-6">
                          <label for="">Presupuesto oficial</label>
                          <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="!editando">
                              {{proyecto.monedaSolicitado}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"  >
                              <a class="dropdown-item" [(ngModel)]="proyecto.monedaSolicitado" name="monedaSolicitado" #monedaSolicitado="ngModel" (click)="proyecto.monedaSolicitado = '$'">$</a>
                              <a class="dropdown-item" [(ngModel)]="proyecto.monedaSolicitado" name="monedaSolicitado" #monedaSolicitado="ngModel" (click)="proyecto.monedaSolicitado = 'u$s'">u$s</a>
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with dropdown button" [(ngModel)]="proyecto.presupuestoSolicitado" name="presupuestoSolicitado" #presupuestoSolicitado="ngModel" [disabled]="!editando">
                          </div>
                          <!-- <div class="input-group">
                            <div class="input-group-prepend">
                              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [(ngModel)]="proyecto.monedaSolicitado" name="monedaSolicitado" #monedaSolicitado="ngModel" [disabled]="!editando">{{proyecto.monedaSolicitado}}</button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" (click)="setMoneda('$')">$</a>
                                <a class="dropdown-item" (click)="setMoneda('u$s')">u$s</a>
                              </div>
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with dropdown button" [(ngModel)]="proyecto.presupuestoSolicitado" name="presupuestoSolicitado" #presupuestoSolicitado="ngModel" [disabled]="!editando">
                          </div> -->
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-3">
                          <label>Prioridad jefatura</label>
                          <select class="form-control" [(ngModel)]="proyecto.prioridadJefatura" name="prioridadJefatura" #prioridadJefatura="ngModel" [disabled]="!editando">
                            <option *ngFor="let p of prioridadesMinisteriales" [ngValue]="p._id">{{p.nombre}}</option>
                          </select>
                        </div>
                        <div class="form-group col-3">
                          <label>Fecha de fin</label>
                          <input type="text" class="form-control" placeholder="" [(ngModel)]="proyecto.fechaFin" name="fechaFin" #fechaFin="ngModel" [disabled]="!editando">
                        </div>
                        <div class="form-group col-6">
                          <label for="">Presupuesto adjudicado</label>
                          <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="!editando">
                              {{proyecto.monedaGestion}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" [(ngModel)]="proyecto.monedaGestion" name="monedaGestion" #monedaGestion="ngModel">
                              <a class="dropdown-item" href="javascript:void(0)" (click)="proyecto.monedaGestion = '$'">$</a>
                              <a class="dropdown-item" href="javascript:void(0)" (click)="proyecto.monedaGestion = 'u$s'">u$s</a>
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with dropdown button" [(ngModel)]="proyecto.presupuestoGestion" name="presupuestoGestion" #presupuestoGestion="ngModel" [disabled]="!editando">
                          </div>
                          <!-- <div class="input-group">
                            <div class="input-group-prepend">
                              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [(ngModel)]="proyecto.monedaGestion" name="monedaGestion" #monedaGestion="ngModel" [disabled]="!editando">$</button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">$</a>
                                <a class="dropdown-item" href="#">u$s</a>
                              </div>
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with dropdown button" [(ngModel)]="proyecto.presupuestoGestion" name="presupuestoGestion" #presupuestoGestion="ngModel" [disabled]="!editando">
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-6">
                  <div class="card">
                    <div class="card-header" style="color: white; background-color:cadetblue; opacity: 0.5">
                      Dashboard ministro
                    </div>
                    <div class="card-body">
                      <div class="form-row">
                        <div class="form-group col-4">
                          <label>Mostrar en dashboard</label>
                          <button type="button" style="margin-right: 5px" [ngClass]="(proyecto.proyectoPrioritario) ? 'btn btn-success': 'btn btn-outline-success'" ngDefaultControl [disabled]="!editando" (click)="(proyecto.proyectoPrioritario) ? proyecto.proyectoPrioritario = false : proyecto.proyectoPrioritario = true" [(ngModel)]="proyecto.proyectoPrioritario" name="proyectoPrioritario" #proyectoPrioritario="ngModel">Ver en dashboard</button>
                        </div>
                        <div class="form-group col-2">
                          <label>Orden</label>
                          <input type="text" class="form-control" [(ngModel)]="proyecto.orden" name="orden" [disabled]="!editando">
                        </div>
                        <div class="form-group col-6">
                          <label>Grupo</label>
                          <select class="form-control" [(ngModel)]="proyecto.grupo" name="grupo" #grupo="ngModel" [disabled]="!editando">
                            <option *ngFor="let g of grupos" [ngValue]="g._id">{{g.nombre}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-4">
                  <div class="card">
                    <div class="card-header" style="color: white; background-color:cadetblue; opacity: 0.5">
                      <label for="">Comunas</label>
                    </div>
                    <div class="card-body">
                      <div class="form-group">
                        <select class="form-control" (change)="agregarComuna(comunaSeleccionada)" [(ngModel)]="comunaSeleccionada" name="comunaSeleccionada" [hidden]="!editando">
                          <option *ngFor="let c of comunasLista" [ngValue]="c">{{c.nombre}}</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <span *ngFor="let c of proyecto.comunas">
                          <span class="badge badge-secondary" style="margin: 3px">{{c}}</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-4">
                  <div class="card">
                    <div class="card-header" style="color: white; background-color:cadetblue; opacity: 0.5">
                      <label for="">Responsables</label>
                    </div>
                    <div class="card-body">
                      <div class="form-group">
                        <select class="form-control" (change)="agregarResponsable(responsableSeleccionado)" [(ngModel)]="responsableSeleccionado" name="responsableSeleccionado" [hidden]="!editando">
                          <option *ngFor="let c of contactos" [ngValue]="c">{{c.nombre}}</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <ul class="list-group">
                          <li class="list-group-item" *ngFor="let r of proyecto.responsables">{{r}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-4">
                  <div class="card">
                    <div class="card-header" style="color: white; background-color:cadetblue; opacity: 0.5">
                      <label for="">Areas participantes</label>
                    </div>
                    <div class="card-body">
                      <div class="form-group">
                        <select class="form-control" (change)="agregarArea(areaSeleccionada)" [(ngModel)]="areaSeleccionada" name="areaSeleccionada" [hidden]="!editando">
                          <option *ngFor="let a of areas" [ngValue]="a">{{a.nombre}}</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <span *ngFor="let c of proyecto.jurisdiccionesParticipantes">
                          <span class="badge badge-secondary" style="margin: 3px">{{c}}</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <actividades-por-proyecto [proyecto]="proyecto"></actividades-por-proyecto>
</div>