<div class="container-fluid">
    <div class="row" style="border-left: solid 10px; opacity: 1.0" [ngStyle]="{'border-left-color': datosReunion?.color}">
        <h3 style="width: 100%;">
            {{datosReunion?._serie?.nombre}} - {{getFecha(datosReunion?.fecha)}} ({{getHora(datosReunion?.desdeDate)}} a {{getHora(datosReunion?.hastaDate)}})
            <span class="pull-right">
                <button class="btn btn-outline-secondary" [routerLink]="['/rdg/calendario']">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Volver
                </button>
                <button class="btn btn-outline-primary">
                    <i class="fa fa-envelope" aria-hidden="true"></i> Enviar
                </button>
                <button class="btn btn-outline-success" (click)='guardar()'>
                    <i class="fa fa-check" aria-hidden="true"></i> {{ !guardado ? "Guardar" : "Guardado"}}
                </button>
            </span>
        </h3>  
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h5>Minuta de Reunion</h5>
            <button class="btn btn-outline-info btn-sm" style="width: 100%;">Minuta nunca enviada</button>
            <editor [init]='config' [(ngModel)]='minuta.html'></editor>
        </div>
        <div class="col-md-6" *ngIf='!verPendientes'>
            <h5>Compromisos de Reunion 
                    <span class="badge badge-pill badge-danger" *ngIf='compromisosReunion.length>0'>Pendientes: {{compromisosReunion.length}}</span>
                    <span class="badge badge-pill badge-success" *ngIf='compromisosReunion.length==0'>Sin compromisos Pendientes</span>
                <span class="pull-right">
                    <button class="btn btn-outline-secondary btn-sm" *ngIf='!verPendientes' (click)='nuevoCompromiso()'><i class="fa fa-plus"></i> Nuevo</button>
                    <button class="btn btn-outline-secondary btn-sm" *ngIf='compromisosPendientes.length>0' (click)='verPendientes=true'>Ver Pendientes</button>
                </span>
            </h5>
            <button class="btn btn-outline-info btn-sm" style="width: 100%;">Compromisos nunca enviado</button>
            <div class="row" style="overflow: auto;height: 79vh;">
                <div class="col-md-12" *ngFor='let compromiso of compromisosReunion'>
                    <app-compromisos [compromiso]='compromiso'></app-compromisos>
                </div>
            </div>
        </div>
        <div class="col-md-6" *ngIf='verPendientes'>
            <h5>Compromisos Pendientes
                <span class="badge badge-pill badge-danger" *ngIf='compromisosPendientes.length>0'>Pendientes: {{compromisosPendientes.length}}</span>
                <span class="badge badge-pill badge-success" *ngIf='compromisosPendientes.length==0'>Sin compromisos Pendientes</span>
                   
                <span class="pull-right">
                    <button class="btn btn-outline-secondary btn-sm" *ngIf='verPendientes' (click)='verPendientes=false'>Ver Actuales</button>
                </span>
            </h5>
            <div class="row">
                <div class="col-md-8">
                    <input type="email" class="form-control" placeholder="Ingrese texto..." style="width: 100%;">
                </div>
                <div class="col-md-4">
                    <select class="form-control" style="width: 100%;">
                        <option value="">Todos los estados</option>
                        <option value="sinFecha">Sin Fecha</option>
                        <option value="vencido">Vencido</option>
                        <option value="vigente">Vigente</option>
                    </select>
                </div>
            </div>
            <div class="row" style="overflow: auto;height: 79vh;">
                <div class="col-md-12" *ngFor='let compromiso of compromisosPendientes'>
                    <app-compromisos [compromiso]='compromiso' [idMinuta]='minuta._id' [pendiente]='true'></app-compromisos>
                </div>
            </div>
        </div>
    </div>
</div>
